<div class="register">
    <div class="register-left">
        <img src="assets/images/shipIcon.png" />
        <h3 class="header">Reset Password</h3>

        <!-- Reset password form -->
        <form class="form" (ngSubmit)="OnSubmit()">
            <input class="form-control" type="text" placeholder="Email"
                name="email" [(ngModel)]="model.email" #email="ngModel">
                <div *ngIf="wrongEmail">
                    Forkert email
                </div>
            <br />
            <input id="reset" type="submit" value="Reset" routerLink="/reset" />
        </form>
        <br />
        <p><a routerLink="/logind">Gå til log ind</a></p>
    </div>
</div>
